[Unit]
Description=Now Playing e-ink display service
After=syslog.target network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
SyslogIdentifier=now-playing-display
LimitRTPRIO=99
Restart=on-failure
RestartSec=1s
KillSignal=SIGINT
EnvironmentFile=/etc/systemd/system/now-playing-display.service.d/now-playing-display_env.conf

[Install]
WantedBy=multi-user.target
